@import "tailwindcss";

@plugin "daisyui" {
  theme: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;

  --color-primary-content: "white";
  --color-secondary-content: "white";
  --color-accent-content: "black";
  --color-info-content: "white";
  --color-warning-content: "black";
  --color-success-content: "white";
  --color-neutral-content: "white";
  --color-base-content: "black";
  --color-error-content: "white";

  --radius-selector: 0rem;
  --radius-field: 0rem;
  --radius-box: 0rem;
  --size-selector: 0.25rem;
  --size-field: 0.3125rem;
  --size: 50px;
  --border: 4px;
  --depth: 0;
  --noise: 0;
}

body {
  @apply bg-base-300 text-base-content;
}

@utility badge {
  --size: 2rem;
  @apply font-bold border-black truncate;
}

@utility toggle {
  --input-color: black;
  @apply checked:bg-accent;
}

@utility clip-path-none {
  clip-path: none;
}

@utility checkbox {
  --input-color: black;
  @apply checked:bg-accent before:delay-0 before:duration-100 before:clip-path-none before:rotate-0;
}
